@{
    ViewBag.Title = "Home Page";
}

<div style="background-color:powderblue;border:groove" class="jumbotron">
    <h1>Bookish</h1>
    <p class="lead">Bookish is a Government funded highly classified website. It has the power to end worlds and cook pancakes to the perfect golden colour. We are still yet to understand the motive behind bookish.</p>
    
</div>

